#header > nav{
    position: absolute;
    background-color: #fff;
    top: 19px;
    left: 43%;
    width: 54%;
    height: 523px;
    border-radius: 14px 0px 0px 14px;
    overflow-y: scroll;
}
#header > nav > span.material-symbols-outlined{
    display: block;
    text-align: right;
    padding-top: 13px;
    font-size: 2.0em;
    cursor: pointer;
}